In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw/energy_spain_years_ts.csv')

In [6]:
df.index = pd.to_datetime(df[['year', 'month', 'day', 'hour']])

In [8]:
df.index = pd.to_datetime(df.index)

In [10]:
df.to_parquet('../raw/energy_spain_years_ts.parquet')

In [12]:
pd.read_parquet('../raw/energy_spain_years_ts.parquet').resample('D').sum()

,technology,year,month,day,hour,generation_mwh
2019-01-01,CarbonCombined CycleCogenerationTotal ExportsE...,775296,384,384,4416,563670.9
2019-01-02,CarbonCombined CycleCogenerationTotal ExportsE...,775296,384,768,4416,718438.0
...,...,...,...,...,...,...
2021-12-30,CarbonCombined CycleCogenerationTotal ExportsE...,776064,4608,11520,4416,650621.0
2021-12-31,CarbonCombined CycleCogenerationTotal ExportsE...,776064,4608,11904,4416,611439.2